/*title*/
#title{
    background-color: rgb(175, 175, 167);
    height: 80px;
    color:whitesmoke;
    font-size: 70px;
    text-align: center;
}
/*menu*/
#menu ul{
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 214);
    list-style: none;
    text-align: center;
}
#menu li:not(.sub_menu){
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 30px;
    position: relative;                 /*Optionnel*/
}
#menu a{
    text-decoration: none;
    color: #000;
    display: block;
}
#menu li:hover>a{
    background-color: rgb(59, 59, 59);
    color: rgb(211, 211, 211);
}
/*Sub_menu*/
ul:nth-child(2){                                  /*sub_menu*/
    display: none;
    position: absolute;
}
#menu li:hover ul:nth-child(2){                   /*sub_menu*/
    display: block;
}
/*contact*/
#contact ul{
    margin-top: 0px;
    background-color: rgb(175, 175, 167);
}
#contact li{
    margin-top: 10px;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 700px;
    height: 40px;
}
#contact a{
    text-decoration: none;
    color: #000;
}
#contact a:hover{
    background-color: rgb(59, 59, 59);
    color: rgb(211, 211, 211);
}
